body {
    text-align: center;
    font-family: Vazir, Arial, Helvetica, sans-serif;
    background: rgb(230,225,227);
    background: radial-gradient(circle, rgba(230,225,227,1) 0%, rgba(220,236,255,1) 100%); 
}

.page-container {
    /* position: relative; */
    min-height: 100vh;
}

.jumbotron.cover{
    width: 100%;
    height: 35%;
    background: linear-gradient( rgba(255, 107, 107, 0.6),  rgba(255, 107, 107, 0.6)),
                url(Assets/Cover\ Photo.jpg);
    background-size: 100% 100%;
    overflow: auto;
    color: #f7fff7;
}

.jumbotron {
    background-color: #ff6b6b;
    overflow: visible;
    color: #f7fff7;
}

.jumbotron h1, .jumbotron img {
    float: right;
}

footer {
    color: #f7fff7;
    text-align: center;
    width: 100%;
    background-color: #1a535c;
    position: relative;
    bottom: 0;
    padding: 0.25em;
}

.main-content {
    padding-top: 2.5em;
    padding-bottom: 1em;
    position: relative;
}

header {
    padding: 0.1em;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 2.5em;
    overflow: auto;
    background-color: #f7fff7;
}

header table {
    width: 100%;
}

header table td:first-child {
    text-align: right;
}

header table td:last-child {
    text-align: left;
}

header table td a {
    margin-right: 1em;
}

.logo {
    width: 2em;
    height: auto;
    float: right;
}

.flaticon-account:before, .flaticon-account:after {
    font-size: 80px;
}

.middle {
    text-align: center;
    width: 60%;
}

.center-text-jumbotron {
    padding-top: 7em;
    text-align: center;   
}

fieldset {
    border: 1px solid lightsteelblue;
    width: 100%;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
}

fieldset .row {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 90%;
}

fieldset .order {
    border: 1px solid lightsteelblue;
    border-radius: 0.5em;
    border-collapse: collapse;
}

fieldset .row div {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: 0;
    bottom: 0;
    border-right: 1px solid lightsteelblue;
    border-collapse: collapse;
}

fieldset .row div:first-child {
    border: 0;
}

fieldset .row .btn {
    margin: 0.5em;
}

.btn-group {
    top: -1.25em;
    box-shadow: 1px 1px 2px 1px #888888;
}

.btn-group, .btn {
    border-radius: 0.5em;
}

.btn-group .btn-danger:hover .credit {
    visibility: visible;
}

.btn-group .btn-danger:hover .orders {
    visibility: hidden;
}

.btn-group .btn-light:hover .credit {
    visibility: hidden;
}

.btn-group .btn-light:hover .orders {
    visibility: visible;
}

.rest-logo {
    display: block;
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50%;
}

.jumb-menu {
    margin-bottom: 20%;
}

.img-thumbnail {
    margin-left: auto;
    margin-right: auto;
    border-radius: 12%;
}

.rest-logo h1 {
    margin-left: auto;
    margin-right: auto;
    color: black;
}

form {
    margin: 1em;
}

form input {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dish {
    border: 1px solid lightsteelblue;
    width: min-content;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
    margin: 5%;
    padding: 1em;
}

.dish .food-desc {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dish .food-thumbnail {
    width: 10em;
    height: auto;
}

.dish .food-name {
    float: right;
    font-weight: bold;
}

.dish .star {
    width: 1em;
    height: auto;
}

.dish .rate {
    display: inline-block;
}

.dishes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

}

.res-menu {
    width: 100%;
}

.res-menu h3 {
    top: -1em;
    position: relative;
    display: inline-block;
    color: green;
    padding: 0.25em;
    margin-top: 1em;
    border-bottom: 1px solid green;
}

.res-cart {
    width: 30%;
    border-left: 1px dashed lightsteelblue;
}

.cart-card {
    border: 1px solid lightsteelblue;
    width: 90%;
    align-items: center;
    border-radius: 1em;
    background-color: #f7fff7;
    padding: 1em;
    margin: auto;
}

.cart-card table {
    width: 100%;
}

.cart-card h5 {
    display: inline-block;
    margin-bottom: 1em;
    padding: 0.25em;
    border-bottom: 1px solid black;
}

.orders-cart {
    border: 1px dashed lightsteelblue;
    border-radius: 1em;
    border-collapse: separate;
}

.count-set td {
    text-align: center;
    width: 33%;
    background-color: cadetblue;
}

.flex-menu {
    display: flex;
    align-items: stretch;
}

.flaticon-plus:before, .flaticon-plus:after, .flaticon-minus:before, .flaticon-minus:after {
    width: 1em;
    margin: 0;
    text-align: center;
    height: auto;
}

.count-set {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}